scikit-learn >= 1.2.1
scikit-survival >= 0.21.0
pycox == 0.2.3
lassonet == 0.0.14
pytest
pandas
tabulate
auton-survival @ git+https://github.com/IvanUniTO/auton-survival.git@v1.0.2+hive
survtrace @ git+https://github.com/IvanUniTO/survTRACE.git@1.0.4+hive
